python/.settings
python/__pycache__
build
Build
project.xcworkspace
xcuserdata
DerivedData
maxmsp/sysbuild/
maxmsp/wrappers/*/.vs/
maxmsp/wrappers/*/x64/
*.sln
*.vcxproj.user
input_audio/
output_audio/
